body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}

/* Contact Form Styling */

form {
    width: 350px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    margin: 10px;
}

a:hover {
    color: darkblue;
}