body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}